<div class="row">
    <div class="twelve columns">
        <h1>Checkout</h1>
    </div>
</div>
<form ng-submit="checkout(firstname, lastname, email)">
    <div class="row">
        <div class="six columns">
            <h4>Personal information</h4>
            <table>
                <tr>
                    <td><input type="text" ng-model="firstname" placeholder="First name"></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="text" ng-model="lastname" placeholder="Last name"></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="email" ng-model="email" placeholder="Email"></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="six columns">
            <h4>Seats</h4>
            <table>
                <tr ng-repeat="lock in locks">
                    <td>
                        {{lock | eventNameFilter : allEvents}}<br>
                        <b>{{lock | blockDisplayNameFilter : allSeats : allBlocks}}, {{lock | seatNameFilter : allSeats}}</b>
                        <label for="isReduced{{lock.$id}}"><input type="checkbox" ng-model="lock.isReduced" ng-click="saveLock(lock)" id="isReduced{{lock.$id}}">&nbsp;&nbsp;Reduction</label>
                    </td>
                    <td class="buttons">
                        <a ng-click="unlock(lock)" class="button">Remove</a><br>
                        <b>{{lock | seatPriceFilter : allSeats : allEvents : allCategories}}</b>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns buttons">
            <input type="submit" class="button button-primary" value="Book"/>
        </div>
    </div>
</form>