<div class="row">
    <div class="two columns">&nbsp;</div>
    <div class="six columns">
        <h1>Administration Login</h1>
        <form ng-submit="login(email, password)">
            <p>
                <label for="email">Email</label>
                <input id="email" type="text" ng-model="email">
            </p>
            <p>
                <label for="password">Password</label>
                <input id="password" type="password" ng-model="password">
            </p>
            <p>
                <input type="submit" value="Login">
            </p>
        </form>
    </div>
</div>