<div class="row">
    <div class="four columns">&nbsp;</div>
    <div class="four columns">
        <form ng-submit="login(email, password)">
            <p>
                <label for="email">Email</label>
                <input id="email" type="text" ng-model="email">
            </p>
            <p>
                <label for="password">Password</label>
                <input id="password" type="text" ng-model="password">
            </p>
            <p>
                <input type="submit" value="Login">
            </p>
        </form>
    </div>
</div>