table {
    width: 100%;
}

.inactive {
    color: #aaaaaa;
}

.table-with-images td {
    vertical-align: top;
}

.locks-table td {
    vertical-align: top;
}

.buttons {
    text-align: right;
}

input.narrow {
    width: 100px;
}