<div class="row">
    <div class="twelve columns">
        <form ng-submit="saveAndReturnToList(event)">
            <h3>Event</h3>
            <table>
                <tr>
                    <td colspan="2">
                        <label for="name">Name</label>
                        <input id="name" type="text" ng-model="event.name" class="u-full-width">
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label for="relativeBoxofficeReduction">Rel. Boxoffice Reduction</label>
                        <input id="relativeBoxofficeReduction" type="number" ng-model="event.relativeBoxofficeReduction">
                    </td>
                    <td>
                        <label for="absoluteBoxofficeReduction">Abs. Boxoffice Reduction</label>
                        <input id="absoluteBoxofficeReduction" type="number" ng-model="event.absoluteBoxofficeReduction">
                    </td>
                    <td class="buttons"><input type="submit" value="Save" class="button button-primary"></td>
                </tr>
            </table>
        </form>
        <form ng-submit="addBlock(newBlockId, newCategoryId)">
            <table>
                <tr>
                    <td>
                        <select ng-model="newBlockId" required>
                            <option ng-repeat="block in blocks" value="{{block.$id}}">{{block.name}}</option>
                        </select>
                    </td>
                    <td>
                        <select ng-model="newCategoryId" required>
                            <option ng-repeat="category in categories" value="{{category.$id}}">{{category.name}}
                            </option>
                        </select>
                    </td>
                    <td class="buttons"><input type="submit" class="button button-primary" value="Add block" ng-disabled="newBlockId === undefined || newCategoryId === undefined"></td>
                </tr>
                <tr ng-repeat="eventBlock in eventBlocks">
                    <td>{{eventBlock.blockId | nameFilter:blocks}}</td>
                    <td>{{eventBlock.categoryId | nameFilter:categories}}</td>
                    <td class="buttons">
                        <a ng-click="removeBlock(eventBlock)" class="button">Remove</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>