<div class="row">
    <div class="twelve columns">&nbsp;</div>
        <h1>Events</h1>
        <form ng-submit="add(newEventName)">
            <table>
                <tr>
                    <td><input type="text" ng-model="newEventName" placeholder="New Event Name"></td>
                    <td class="buttons"><input type="submit" class="button button-primary" value="Save"></td>
                </tr>
                <tr ng-repeat="event in events">
                    <td>{{event.name}}</td>
                    <td class="buttons">
                        <a href="#/events/{{event.$id}}" class="button">Edit</a>
                        <a ng-click="remove(event)" class="button">Remove</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>