<div class="row">
    <div class="twelve columns">
        <h1>Orders</h1>
    </div>
</div>
<div class="row">
    <div class="six columns">
        <h2>Pending</h2>
        <table>
            <tr ng-repeat="order in orders | status:'pending'">
                <td><a href="#/order/{{order.$id}}">{{order.firstname}} {{order.lastname}} - {{order.timestamp |
                    date:'dd.MM.yyyy, HH:mm'}}</a></td>
            </tr>
        </table>
    </div>
    <div class="six columns">
        <h2>Sold</h2>
        <table>
            <tr ng-repeat="order in orders | status:'sold'">
                <td><a href="#/order/{{order.$id}}">{{order.firstname}} {{order.lastname}} - {{order.timestamp |
                    date:'dd.MM.yyyy, HH:mm'}}</a></td>
            </tr>
        </table>
    </div>
</div>