<div class="row">
    <div class="twelve columns">&nbsp;</div>
    <h1>Categories</h1>
    <form ng-submit="add(newCategoryName)">
        <table>
            <tr ng-repeat="category in categories">
                <td>{{category.name}}</td>
                <td><a ng-click="remove(category)" class="button">Remove</a></td>
            </tr>
            <tr>
                <td><input type="text" ng-model="newCategoryName" placeholder="Name"></td>
                <td><input type="submit" class="button button-primary" value="Save"></td>
            </tr>
        </table>
    </form>
    <p>{{err}}</p>
</div>